### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [62]:
customer_count = purchase_data['SN'].nunique()
player_count = pd.DataFrame({'total_player': customer_count}, index = [0])
player_count

   total_player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
items_offer = purchase_data['Item ID'].nunique()
mean_price = purchase_data['Price'].mean()
number_trans = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()
player_count = pd.DataFrame({'Number of Unique Items': items_offer, 
'Average Price': mean_price,'Number of Purchases': number_trans,'Total Revenue': total_rev}, index = [0])
player_count

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
#Group by gender then remove duplicate
grouped_gender = purchase_data.groupby(['Gender'])
grouped_unique_gender = grouped_gender.nunique()

grouped_gender_df = grouped_unique_gender ["SN"]

gender_table = pd.DataFrame({ "Total Count": grouped_gender_df})
gender_table

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
#Calculate purchase count, average price and total purchase value by gender
gender_purchases_count = (purchase_data.groupby(["Gender"]).count()["Price"]).map("{:,}".format)
gender_purchases_average = (purchase_data.groupby(["Gender"]).mean()["Price"]).map("${:,.2f}".format)
gender_purchases_total = (purchase_data.groupby(["Gender"]).sum()["Price"]).map("${:,.2f}".format)

average_totals = (purchase_data.groupby(["Gender"]).sum()["Price"] / gender_table["Total Count"]).map("${:,.2f}".format)
                                                                               
purchases_gender_summary_table = pd.DataFrame({"Purchases Count": gender_purchases_count, "Average Purchase Price": gender_purchases_average,
"Total Purchase Value": gender_purchases_total, "Avg Total Purchase per Person": average_totals})
purchases_gender_summary_table

,Purchases Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [66]:
age_bins = [ 0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age'] = pd.cut(purchase_data['Age'], age_bins, labels=bin_name)
age_stats = pd.DataFrame(purchase_data.groupby('Age').SN.nunique())
age_stats = age_stats.rename(index=str, columns={'SN': 'Total Count'})
age_stats['Percentage of Players'] = (age_stats['Total Count'] / sum(age_stats['Total Count'])*100).map("{:,.2f}%".format)

#age_stats = age_stats.style.format({'Percentage of Players': '{:.2f

age_stats

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# Put the Purchases Data into bins
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels=bin_name)
                                   
#Get purchase totals, count and average price by age group
purchases_totals_age = (purchase_data.groupby(["Age Groups"]).sum()["Price"]).map("${:,.2f}".format)
average_purchases_price = (purchase_data.groupby(["Age Groups"]).mean()["Price"]).map("${:,.2f}".format)
purchases_counts_age = purchase_data.groupby(["Age Groups"]).count()["Price"]

# Get Average Purchasing
average_totals_age = (purchase_data.groupby(["Age Groups"]).sum()["Price"] / age_stats["Total Count"]).map("${:,.2f}".format)

#Data frame 
purchases_age_summary = pd.DataFrame({"Purchase Count": purchases_counts_age, "Average Purchase Price": average_purchases_price, "Total Purchase Value": purchases_totals_age, "Normalized Totals": normalized_totals_age})

purchases_age_summary.sort_index()

TypeError: '<' not supported between instances of 'float' and 'str'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
# Get value of purchases, average purchage per player
total_purchases_player = (purchase_data.groupby(["SN"]).sum()["Price"]).map("${:,.2f}".format)
average_purchase_price_player = (purchase_data.groupby(["SN"]).mean()["Price"]).map("${:,.2f}".format)
purchase_count_player = purchase_data.groupby(["SN"]).count()["Price"]

# Create a DataFrame
player_purchases_summary = pd.DataFrame({"Purchase Count": purchase_count_player, "Average Purchase Price":average_purchase_price_player,"Total Purchase Value": total_purchases_player })

# change table to show Total Purchase Value 
player_purchases_summary.sort_values("Total Purchase Value", ascending=False).head(10)

               Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51                3                  $3.17                $9.50
Phistym51                   2                  $4.75                $9.50
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
# Extract data 
items_players = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

#Total purchases, average price 
total_item_purchases = (items_players.groupby(["Item ID", "Item Name"]).sum()["Price"]).map("${:,.2f}".format)
average_item_purchases = (items_players.groupby(["Item ID", "Item Name"]).mean()["Price"]).map("${:,.2f}".format)
total_item_count = (items_players.groupby(["Item ID", "Item Name"]).count()["Price"])

#Make a data frame
item_players_summary = pd.DataFrame({"Purchase Count": total_item_count, "Item Price": average_item_purchases,"Total Purchase Value": total_item_purchases})

#Change table by Purchase count 
item_players_summary.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
#Calculate total purchases, average price and count for each item
total_item_profitable = (items_players.groupby(["Item ID", "Item Name"]).sum()["Price"])
average_item_profitable = (items_players.groupby(["Item ID", "Item Name"]).mean()["Price"])
profitable_item_count = (items_players.groupby(["Item ID", "Item Name"]).count()["Price"])

#Create a data frame
item_profitable_summary = pd.DataFrame({"Purchase Count": profitable_item_count, "Item Price": average_item_profitable,"Total Purchase Value":total_item_profitable})

# Sort summary by Total Purchase Value
sorted_summary = item_profitable_summary.sort_values("Total Purchase Value", ascending=False)

#Format Columns
sorted_summary["Total Purchase Value"] = sorted_summary["Total Purchase Value"].map("${:,.2f}".format)
sorted_summary["Item Price"] = sorted_summary["Item Price"].map("${:,.2f}".format)

sorted_summary.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80